<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.endorphinapps.kemikal.queenofclean">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddRecords.AddCustomer"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".AddRecords.AddEmployee"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".AddRecords.AddJob"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ViewAlls.ViewCustomers" />
        <activity android:name=".ViewAlls.ViewEmployees" />
        <activity android:name=".ViewAlls.ViewJobs" />
        <activity android:name=".DetailViews.DetailCustomer" />
        <activity android:name=".DetailViews.DetailEmployee" />
        <activity android:name=".DetailViews.DetailJob" />
        <activity android:name=".Finances.Finances_overview" />
        <activity android:name=".Finances.Finances_In" />
        <activity android:name=".Finances.Finances_out" />
        <activity
            android:name=".EditRecords.EditCustomer"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".EditRecords.EditEmployee"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".EditRecords.EditJob"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Menus.MenuMain" />
        <activity android:name=".ViewAlls.ViewDayJobs"></activity>
    </application>

</manifest>